/*****************************************************
* CSS Mockup Activity - Custom CSS Stylesheet
* @author rlewis37
*
* Some rules have been included here to give you a head start.
* Create your own custom CSS rules below. Have fun!
******************************************************/
html, body {
	margin: 0;
	box-sizing: border-box;
}

header {
	padding-top: 1em;
	padding-bottom: 1em;
	text-align: center;
	color: greenyellow;
	background-color: black;
}

h1 {
	font-size: 2em;
	-webkit-margin-before: 0.67em;
	-webkit-margin-after: 0.67em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	font-weight: bold;
	padding-right: 1em;
	display: inline;
}

.sfooter-content {
	font-family: monospace;
}
.container {
	margin: 0 auto;
	padding: 0 2rem;
}

img[src="images/welcome.gif"] {
	margin-left: auto;
	margin-right: auto;
	display: block;
}

.instructions-wrapper {
	border-style: solid;
}

.instructions-content {
	float: left;
	-webkit-margin-end: 40%;
	margin-right: 0px;
	width: 600px;
}

h2 {
	display: block;
	font-size: 1.5em;
	-webkit-margin-before: 0.83em;
	-webkit-margin-after: 0.83em;
	-webkit-margin-start: 1em;
	float: left;
	-webkit-margin-end: 40%;
    font-weight: bold
}

ol {
    display: block;
    list-style-type: decimal;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 40px;
}

img[src="images/captain-janeway.png"] {
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-end: 1em;
    float: right;
    height: 30%;
    width: 30%;
}

.about-me {
    background-color: blue;
    margin-top: 100px;
    color: white;
}

img[src="images/stunning.jpg"] {
    float: left;
    height: 35%;
    width: 35%;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    margin-right: 2em
}

h2 {
    display: block;
    font-size: 1.5em;
    -webkit-margin-before: 0.83em;
    -webkit-margin-after: 0.83em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
}

style {
    text-align: right;
}


.clearfix {
	clear: both;
}

/* create a responsive container */
@media only screen and (min-width: 1200px) {
	.container { width: 1170px; }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
	.container { width: 970px; }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
	.container { width: 750px; }
}

/*****************************************************
* Flexbox Sticky Footer
* http://philipwalton.github.io/solved-by-flexbox/demos/sticky-footer/
******************************************************/

/*corrects IE min-height bug*/
html { display: flex;}
body { width: 100%;}

.sfooter {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.sfooter-content {
	flex: 1 0 auto;
}

/*****************************************************
* ADD YOUR OWN CSS BELOW! (ﾉ◕ヮ◕)ﾉ*:･ﾟ✧
*
* HINT: You might want to be conversant with the following:
* * Shorthand syntax for padding, margin, and borders
* * Display property and values... and the differences between them.
* * The Box Model
* * Pseudo Classes
* * Attribute Selectors
******************************************************/